@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Base theme colors */
    --background: 210 40% 98%;  /* Changed to HSL format to match Tailwind's expectations */
    --foreground: 60 2% 23%;   /* Updated to match #3c3c3a */
    --background-secondary: #ffffff;
    --hover-bg: rgba(241,238,231,255);
    --icon-color: rgba(60, 60, 58, 0.7);
    
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222 82% 53%;    /* Updated to match #2562eb */
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
    
    --border-color: #e9ebee;
    --card-bg: #fefffe;
    --card-title: #3c3c3a;
  
    
    /* Shadow Colors */
    --shadow-color: rgba(0, 0, 0, 0.05);
    --shadow-color-dark: rgba(0, 0, 0, 0.2);
    
    /* Gradient Colors */
    --gradient-start: #faf9f5;
    --gradient-end: rgba(250, 249, 245, 0);
  }

  .dark {
    /* Base theme colors */
    --background: 60 5% 15%;     /* Updated to match #272724 */
    --foreground: 0 0% 94%;      /* Updated to match #f0f0f0 */
    --background-secondary: #1e1e1c;
    --hover-bg: #141413;
    --icon-color: rgba(240, 240, 240, 0.6);

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 222 82% 53%;    /* Updated to match #2562eb */
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    
    --border-color: #2a2a2a;
    --card-bg: #30302e;
    --card-title: #c3c1b6;
    

    
    /* Shadow Colors */
    --shadow-color: rgba(0, 0, 0, 0.2);
    --shadow-color-dark: rgba(0, 0, 0, 0.3);
    
    /* Gradient Colors */
    --gradient-start: #272724;
    --gradient-end: rgba(39, 39, 36, 0);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .bg-hover {
    background-color: var(--hover-bg);
  }
  .text-icon {
    color: var(--icon-color);
  }
  .shadow-custom {
    box-shadow: 0 2px 10px 0 var(--shadow-color);
  }
  .dark .shadow-custom {
    box-shadow: 0 2px 10px 0 var(--shadow-color-dark);
  }
}