streamlit-quill
python-dotenv
litellm
click
questionary
requests
packaging
setuptools
pytest
pytest-asyncio
asyncio
altair
prisma
fastapi
uvicorn
python-multipart
redis
upstash-redis
supabase
pyjwt
certifi
python-ripgrep
daytona_sdk
boto3
